<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
      <img src="../../../assets/1.jpg" style="width: 7%;" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" style="color: white;">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)='func()' [routerLink]="['/usuarios']" style="color: white;">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)='func()' [routerLink]="['/fotos']" style="color: white;">Fotos</a>
          </li>
        </ul>
      </div>
    </div>
</nav>